@model WebMVC.Models.MatchViewModel

@{
    ViewData["Title"] = "Update Specific Match";
    string seasonflag = "/img/Season/" + Model.SeasonId + ".png";
    string hflag = "/img/Team/120x80/" + Model.HTeamCode + ".gif";
    string gflag = "/img/Team/120x80/" + Model.GTeamCode + ".gif";
}

<h1>Update Match Score</h1>

<h4>Specific Match View</h4>
<hr />
<div class="fp-result-board_resultBoard">
    <div class="fp-result-board_resultBoardContainer">
        <form asp-action="UpdateMatchScore">
            <a asp-action="ViewMatchBySeason" asp-route-seasonId="@Model.SeasonId">
                <div class="ff-mx-24 fp-result-board_hero__logo__container">
                    <div class="row fp-result-board_hero__logo">
                        <div class="col">
                            <div class="ff-image_figureImage">
                                <img height="150" width="150" src="@seasonflag" />
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <div class="fp-result-board_resultRowOuter">
                <div class="fp-result-board_resultRow">
                    <div class="fp-result-board_homeTeam">
                        <h3 class="d-inline d-md-none fp-result-board_teamName ff-my-0 text ">
                            @*text-align-left*@
                            @Model.HTeamCode
                        </h3>
                        <h3 class="d-none d-md-inline fp-result-board_teamName ff-mr-16 ff-mr-lg-24 ff-mr-lx-32 ff-my-0">
                            @Model.HTeam
                        </h3>
                    <div class="ff-mr-md-24 ff-my-8">
                        <div class="ff-image_figureImage fp-result-board_flagBorder">

                            <img class="ff-image_img" height="153" width="256" src="@hflag" />

                        </div>
                    </div>
                </div>
                <div class="fp-result-board_matchResult">
                    <div class="fp-result-board_timeRow">
                        <div>
                            FULL TIME
                        </div>
                    </div>
                    <div class="fp-result-board_result">
                        <div class="fp-result-board_score__Fac-t">
                            <div class="form-group">                                
                                <input asp-for="HGoal" class="form-control" />
                                <span asp-validation-for="HGoal" class="text-danger"></span>
                            </div>                            
                        </div>
                        <div class="fp-result-board_hyphen">-</div>
                        <div class="fp-result-board_score__Fac-t">
                            <div class="form-group">                                
                                <input asp-for="GGoal" class="form-control" />
                                <span asp-validation-for="GGoal" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fp-result-board_awayTeam">
                    <div class="ff-mr-md-24 ff-my-8">
                        <div class="ff-image_figureImage fp-result-board_flagBorder">

                            <img class="ff-image_img" height="153" width="256" src="@gflag" />

                        </div>
                    </div>
                    <h3 class="d-inline d-md-none fp-result-board_teamName ff-my-0 text ">
                        @*text-align-left*@
                        @Model.GTeamCode
                    </h3>
                    <h3 class="d-none d-md-inline fp-result-board_teamName ff-mr-16 ff-mr-lg-24 ff-mr-lx-32 ff-my-0">
                        @Model.GTeam
                    </h3>

                </div>
            </div>
        </div>
        </form>      
       
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateMatchScore">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MatchId" class="control-label"></label>
                <input asp-for="MatchId" class="form-control" />
                <span asp-validation-for="MatchId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatchNumber" class="control-label"></label>
                <input asp-for="MatchNumber" class="form-control" />
                <span asp-validation-for="MatchNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateMatch" class="control-label"></label>
                <input asp-for="DateMatch" class="form-control" />
                <span asp-validation-for="DateMatch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeMatch" class="control-label"></label>
                <input asp-for="TimeMatch" class="form-control" />
                <span asp-validation-for="TimeMatch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatchYear" class="control-label"></label>
                <input asp-for="MatchYear" class="form-control" />
                <span asp-validation-for="MatchYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeasonId" class="control-label"></label>
                <input asp-for="SeasonId" class="form-control" />
                <span asp-validation-for="SeasonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeasonName" class="control-label"></label>
                <input asp-for="SeasonName" class="form-control" />
                <span asp-validation-for="SeasonName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Round" class="control-label"></label>
                <input asp-for="Round" class="form-control" />
                <span asp-validation-for="Round" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stage" class="control-label"></label>
                <input asp-for="Stage" class="form-control" />
                <span asp-validation-for="Stage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubStage" class="control-label"></label>
                <input asp-for="SubStage" class="form-control" />
                <span asp-validation-for="SubStage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HTeam" class="control-label"></label>
                <input asp-for="HTeam" class="form-control" />
                <span asp-validation-for="HTeam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HTeamCode" class="control-label"></label>
                <input asp-for="HTeamCode" class="form-control" />
                <span asp-validation-for="HTeamCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HGoal" class="control-label"></label>
                <input asp-for="HGoal" class="form-control" />
                <span asp-validation-for="HGoal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GGoal" class="control-label"></label>
                <input asp-for="GGoal" class="form-control" />
                <span asp-validation-for="GGoal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GTeam" class="control-label"></label>
                <input asp-for="GTeam" class="form-control" />
                <span asp-validation-for="GTeam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GTeamCode" class="control-label"></label>
                <input asp-for="GTeamCode" class="form-control" />
                <span asp-validation-for="GTeamCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WinNote" class="control-label"></label>
                <input asp-for="WinNote" class="form-control" />
                <span asp-validation-for="WinNote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stadium" class="control-label"></label>
                <input asp-for="Stadium" class="form-control" />
                <span asp-validation-for="Stadium" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Referee" class="control-label"></label>
                <input asp-for="Referee" class="form-control" />
                <span asp-validation-for="Referee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visistors" class="control-label"></label>
                <input asp-for="Visistors" class="form-control" />
                <span asp-validation-for="Visistors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

